:root{
    --dark-blue: #025464;
    --dark-orange: #E57C23;
    --dark-yellow: #E8AA42;
    --vintage-white: #F8F1F1;
}
html{
    font-size: 16px;
}
@media (max-width: 720px){
    html{
        font-size: 12px;
    }
}
body{
    font-family: 'Rubik', sans-serif;
    color: #E57C23;
    margin: 0;
    background-color: var(--dark-blue);
}

img{
    width: 90%;
    max-width: 240px;
    height: 70%;
    max-height: 240px
}
.container{
    margin-left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 95vh;
    position: relative;
    top: 4rem;
}
.tape{
    width: 100%;
    height: 4rem;
    z-index: 1;
    margin: 0;
}
/* =======================
    navigation bar sytles
    ====================== */
nav{
    position: fixed;

    background-color: var(--dark-orange);
}

nav ul{
    margin: 0 auto; 
    padding-left: 0;
    width: 90%;
    min-width: 260px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
nav li{
    margin: 0;
    font-size: 1.5rem;
    padding-left: 2em;
    list-style: none;
}
nav a{
    color: var(--vintage-white)
}
a{
    text-decoration: none;
}
a:hover{
    color: var(--dark-blue)
}
@media (max-width: 720px){
    nav ul{
        justify-content: space-around;
    }
    nav li{
        padding-left: 0;
    }
}

/* =======================
    first - welcome -section  styles
    ====================== */
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text.main{
    font-size: 4rem;
    color: var(--vintage-white)
}

.welcome-text.addition{
    font-size: 2rem;
    font-style: italic;
    margin-top: -2em;

}

/* =======================
    second - projects -section  styles
    ====================== */
#projects{
    background-color: var(--vintage-white);
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}
h2{
    font-size: 2rem;
    color: var(--dark-blue);
    font-weight: 600;
    margin-top: 1.5em;
}
.project-line-one, .project-line-two{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#projects a{
    padding:0;
    box-sizing: border-box;
    margin: 0.5em;
    width: 20rem;
    background: linear-gradient(
        315deg,
        var(--vintage-white) 0%,
        var(--dark-orange) 100%
    );
}
#projects a:hover{
    background: linear-gradient(
        315deg,
        var(--vintage-white) 0%,
        var(--dark-orange) 60%,
        var(--dark-orange) 100%
    );
}
#projects p{
    color: var(--vintage-white);
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5em;
}
@media (max-width: 720px){
    .project-line-one, .project-line-two{
        flex-wrap: wrap;
    }
    #projects a{
        width: 35rem;
    }
    img{
        max-width: 300px;
        max-height: 400px
    }
}
/* =======================
    contact section styles
    ====================== */
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact h2{
    color: var(--vintage-white);
    font-size: 3rem;
}
#contact p{
    font-style: italic;
    margin-top: -1.78em;
    font-size: 1.5rem;
}
.contact-links{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.contact-page.btn{
    display: flex;
    flex-direction: column;
    color: var(--vintage-white);
    font-size: 1.25rem;
}
.contact-page.btn:hover{
    zoom: 1.2;
}
/* =======================
    footer styles
    ====================== */

footer{
    border-top: 2px solid var(--vintage-white);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2em;
}
footer i, footer p{
    color: var(--vintage-white)
}
footer p{
    padding-right: 2em;
}